---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json/38.34.99.130
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ttl:
      - '60'
      X-Rl:
      - '44'
    body:
      encoding: UTF-8
      string: '{"status":"success","country":"United States","countryCode":"US","region":"CO","regionName":"Colorado","city":"Denver","zip":"80203","lat":39.7277,"lon":-104.9815,"timezone":"America/Denver","isp":"Starry,
        Inc.","org":"Starry, Inc","as":"AS395354 Starry, Inc.","query":"38.34.99.130"}'
  recorded_at: Sun, 09 Jan 2022 23:03:35 GMT
recorded_with: VCR 6.0.0
