---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ttl:
      - '60'
      X-Rl:
      - '44'
    body:
      encoding: UTF-8
      string: '{"status":"success","country":"United States","countryCode":"US","region":"UT","regionName":"Utah","city":"Salt
        Lake City","zip":"84107","lat":40.6566,"lon":-111.8907,"timezone":"America/Denver","isp":"UTOPIA","org":"UTOPIA","as":"AS53407
        UTOPIA","query":"69.162.242.247"}'
  recorded_at: Fri, 07 Jan 2022 05:27:48 GMT
recorded_with: VCR 6.0.0
