---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json/8.160.143.10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ttl:
      - '59'
      X-Rl:
      - '43'
    body:
      encoding: UTF-8
      string: '{"status":"success","country":"China","countryCode":"CN","region":"BJ","regionName":"Beijing","city":"Beijing","zip":"","lat":39.9042,"lon":116.407,"timezone":"Asia/Shanghai","isp":"Alibaba.com
        Singapore E-Commerce Private Limited","org":"Aliyun Computing Co.","as":"","query":"8.160.143.10"}'
  recorded_at: Thu, 13 Jan 2022 05:16:49 GMT
recorded_with: VCR 6.0.0
