---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=500&category=29&type=multiple
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Comics","type":"multiple","difficulty":"easy","question":"Who
        is Batman?","correct_answer":"Bruce Wayne","incorrect_answers":["Clark Kent","Barry
        Allen","Tony Stark"]},{"category":"Entertainment: Comics","type":"multiple","difficulty":"medium","question":"In
        Marvel Comics, Taurus is the founder and leader of which criminal organization?","correct_answer":"Zodiac","incorrect_answers":["Scorpio","Tiger
        Mafia","The Union"]},{"category":"Entertainment: Comics","type":"multiple","difficulty":"medium","question":"What&#039;s
        the name of Batman&#039;s parents?","correct_answer":"Thomas &amp; M[...]
[...]
