---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ttl:
      - '59'
      X-Rl:
      - '43'
    body:
      encoding: UTF-8
      string: '{"status":"success","country":"United States","countryCode":"US","region":"CO","regionName":"Colorado","city":"Denver","zip":"80205","lat":39.7593,"lon":-104.9651,"timezone":"America/Denver","isp":"Comcast
        Cable Communications, LLC","org":"Comcast Cable Communications, Inc.","as":"AS7922
        Comcast Cable Communications, LLC","query":"71.205.12.163"}'
  recorded_at: Thu, 13 Jan 2022 22:02:31 GMT
recorded_with: VCR 6.0.0
