---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json/98.160.143.100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ttl:
      - '60'
      X-Rl:
      - '44'
    body:
      encoding: UTF-8
      string: '{"status":"success","country":"United States","countryCode":"US","region":"NV","regionName":"Nevada","city":"Las
        Vegas","zip":"89169","lat":36.1214,"lon":-115.141,"timezone":"America/Los_Angeles","isp":"Cox
        Communications Inc.","org":"Cox Communications","as":"AS22773 Cox Communications
        Inc.","query":"98.160.143.100"}'
  recorded_at: Mon, 10 Jan 2022 22:54:44 GMT
recorded_with: VCR 6.0.0
